body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

#main_form label.error {
  margin-left: 10px;
  width: auto;
  display: inline;
  color: red;
  font-size: small;
  font-style: normal;
}